@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Fjalla+One&display=swap');


html {
    height: 100%;
}

body {
    background: var(--v-theme-surfaceLight);
}

a {
    text-decoration: none;
}

.brand-font {
    font-family: "Alkatra", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-fjalla-one {
    font-family: "Fjalla One", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.mea-culpa-regular {
    font-family: "Mea Culpa", serif;
    font-weight: 400;
    font-style: normal;
}

.meow-script-regular {
    font-family: "Meow Script", serif;
    font-weight: 400;
    font-style: normal;
}

.color-primary {
    color: rgb(var(--v-theme-primary));
}

.color-secondary {
    color: rgb(var(--v-theme-secondary));
}

.color-surfaceDark {
    color: var(--v-theme-surfaceDark);
}

.color-tertiary {
    color: rgb(var(--v-theme-tertiary));
}

.color-error {
    color: rgb(var(--v-theme-error));
}

.color-info {
    color: rgb(var(--v-theme-info));
}

.color-success {
    color: rgb(var(--v-theme-success));
}

.color-warning {
    color: rgb(var(--v-theme-warning));
}

.error-message {
    color: rgb(var(--v-theme-error));
    font-style: italic;
}

.info-message {
    color: rgb(var(--v-theme-info));
    font-style: italic;
}

.success-message {
    color: rgb(var(--v-theme-success));
    font-style: italic;
}

.preview {
    background: linear-gradient(darkslateblue -100%, white 50%);
}

.emboss {
    border-bottom: 1px solid rgb(var(--v-theme-surfaceEdgeBottom));
    border-left: 1px solid rgb(var(--v-theme-surfaceEdgeLeft));
    border-top: 1px solid rgb(var(--v-theme-surfaceEdgeTop));
    border-right: 1px solid rgb(var(--v-theme-surfaceEdgeRight));
}

.engrave {
    border-top: 1px solid rgb(var(--v-theme-surfaceEdgeBottom));
    border-right: 1px solid rgb(var(--v-theme-surfaceEdgeLeft));
    border-bottom: 1px solid rgb(var(--v-theme-surfaceEdgeTop));
    border-left: 1px solid rgb(var(--v-theme-surfaceEdgeRight));
    overflow: hidden;
}

  /************/
 /* VTabItem */
/************/

.v-tab {
    color: var(--v-theme-tertiary) !important;
}

.v-tab-item--selected {
    background: linear-gradient(90deg, var(--v-theme-surfaceDark), transparent 50%) !important;
}

  /********************/
 /* VDataTableServer */
/********************/

.v-data-table {
    border-radius: 0 !important;
}

.v-data-table-header__content span {
    font-weight: bold;
}

.v-data-table__td {
    background: rgb(var(--v-theme-surfaceLight)) !important;
}

.v-data-table__th {
    background: rgb(var(--v-theme-surfaceDark)) !important;
    height: 32px !important;
}

  /***************/
 /* Transitions */
/***************/

.page-leave-active,
.page-enter-active {
   transition: 100ms all ease;
}

.page-enter-from {
    transform: scale(1.1);
    opacity: 0;
 }

.page-leave-to {
   transform: scale(0.9);
   opacity: 0;
}